
@media (min-width: 768px) {
    .blog__grid--pagina {
        grid-template-columns: repeat(3, 1fr);
    }
    .nosotros__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .footer__nav {
        flex-direction: row;
        gap: 2rem;
    }
    .footer__contenido {
        display: flex;
        justify-content: space-between;
    }
    .blog__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .cursos__contenido {
        grid-column: 2 / 3;
    }
    .cursos__grid {
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        column-gap: 2rem;
    }
    .productos__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .modelo {
        text-align: left;
        width: 50%;
    }
    .navegacion__enlace {
        margin-top: 0;
    }
    .header__barra {
        flex-direction: row;
        justify-content: space-between;
        
    }
} 
@media (min-width: 992px) {
    .header__guitarra {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;

        animation: 1s ease-in-out 0s 1 mostrarImagen;
        animation-timing-function: ease-in;
    }
    .blog__grid {
        grid-template-columns: repeat(4, 1fr);
    }
} 
@media (min-width: 1200px) {
    .productos__grid {
        grid-template-columns: repeat(3, 1fr);
    }
} 